@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

#header {
  background-color: grey;
  width: 100%;
}

/* For mobile */
nav {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  flex-direction: column;
}

#logo {
  padding: 5px 0;
}

/* For mobile */
#logo svg {
  max-width: 50px;
  height: auto;
  position: relative;
  left: 10px;
  top: 10px;
}

/* For mobile */
#main-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

#main-menu li {
  position: relative;
}

#main-menu li a {
  color: black;
  display: block;
  padding: 18px 20px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

/* For mobile */
#main-menu ul.sub-menu {
  position: absolute;
  background-color: gray;
  padding: 15px 0;
  list-style: none;
  width: 100%;
  border: 1px solid #434343;
  top: 58px;
  display: none;
  z-index: 1;
}

#main-menu li:hover > ul.sub-menu {
  display: block;
  animation-name: move-bottom-up;
  animation-duration: 0.5s;
}

@keyframes move-bottom-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

#main-menu ul.sub-menu a {
  padding: 8px 15px;
  border-bottom: 1px solid #434343;
  left: 0;
}

#main-menu ul.sub-menu li:hover > a {
  border-bottom: 1px solid #6e6e6e;
}

#main-menu ul.sub-menu li:last-child a {
  border: none;
}

/* For mobile */
#main-menu ul.sub-menu ul.sub-menu {
  left: 0;
  top: 0;
}

#main-menu > li > a {
  position: relative;
}

#main-menu > li > a::before {
  content: "";
  height: 4px;
  width: 0;
  background-color: #f00;
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#main-menu > li:hover > a::before {
  width: 100%;
}

/* For mobile */
#main-menu > li.has-child::after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f107";
  color: #eceaea;
  position: absolute;
  top: 0;
  right: 10px;
  padding: 21px 0;
}

#main-menu .sub-menu > li:hover > a {
  color: orange;
}

#main-menu .sub-menu > li.has-child::after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f105";
  color: #eceaea;
  position: absolute;
  top: 0;
  right: 10px;
  padding: 10px 0;
}

#main-menu .sub-menu > li.has-child:hover::after {
  color: orange;
}

/* For mobile */
.menu-hamburger {
  display: inline-block;
  cursor: pointer;
  list-style: none;
  position: absolute;
  right: 10px;
  top: 5px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

@media only screen and (min-width: 768px) {
  /* For desktop */
  nav {
    flex-direction: row;
  }

  #main-menu {
    flex-direction: row;
  }

  #logo svg {
    left: 0;
    top: 0;
  }

  #main-menu ul.sub-menu {
    width: 250px;
    z-index: 0;
  }

  #main-menu ul.sub-menu ul.sub-menu {
    left: 249px;
    top: -16px;
  }

  #main-menu > li.has-child::after {
    top: 0;
    right: 0;
  }

  .menu-hamburger {
    display: none;
  }
}
